src/**
.vscode-test/**
.vscode/**
.gitignore
webpack.config.js
tsconfig.json

*.vsix
.github/**
binaries/**
*.log
*.map
*.md
!README.md
.env*
**/*.test.ts
**/*.spec.ts
**/test/**
**/tests/**
coverage/**

# Ensure SQLite3 is included
!node_modules/@vscode/sqlite3/**
!dist/binaries/**
